.navbar {
	width: 100%;
	height: 5rem;
	font-size: 2.5rem;
	text-align: center;
	background-color: white;
}

.logo {
	width: 10rem;
	cursor: pointer;
}

.navbarContainer {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	box-sizing: border-box;
	max-width: 128rem;
	padding: 0 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbarTitle {
	text-decoration: none;
	color: black;
	width: fit-content;
	cursor: pointer;
}

.profileImage {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
}

.userSetting {
	width: 3.6rem;
	height: 3.6rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.settingList {
	cursor: pointer;
	display: none;
	width: 16rem;
	box-sizing: border-box;
	padding: 2rem;
	border-radius: 2rem;
	flex-direction: column;
	background-color: aliceblue;
	box-shadow: 0 0.2rem 1.4rem 0.2rem rgba(0, 0, 0, 0.102);
	position: absolute;
	top: 2rem;
	right: 3rem;
	border-radius: 2rem;
}

.userSetting:hover .settingList {
	display: flex;
}

.settingList:hover {
	display: flex;
}

.setting {
	cursor: pointer;
	text-decoration: none;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 3rem;
	font-size: 1.3rem;

	border-radius: 2rem;
}

.setting:hover {
	background-color: #70a7f9;
	color: white;
}

.writeBtnNav {
	border-radius: 2rem;
	gap: 0.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #70a7f9;
	width: fit-content;
	color: white;
	padding: 0 1rem;
	font-size: 1.3rem;
	height: 3.5rem;
	cursor: pointer;
}

.plus {
	height: 1.6rem;
	width: 1.6rem;
}

.right {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}
