.main {
	margin: 5rem auto 5rem;
	max-width: 70rem;
	width: 100%;
	height: fit-content;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 3rem;
}

.board {
	width: 100%;
}

.boardTitle {
	font-size: 2.5rem;
	font-weight: 800;
}

.boardHeaderRight {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.boardTag {
	padding: 0.5rem 1rem;
	background-color: white;
	display: flex;
	justify-content: flex-start;
	align-items: last baseline;
	border-radius: 2rem;
	font-size: 1.3rem;
	width: fit-content;
	border: 2px dotted rgb(202, 229, 252);
	font-weight: 400;
}

.updateBoard,
.deleteBoard {
	background-color: white;
	border: 0;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: center;
	text-decoration: none;
	padding: 0.1rem 1rem;
	height: 3rem;
	box-sizing: border-box;
}

.updateBoard:hover,
.deleteBoard:hover {
	background-color: rgb(223, 246, 255);
	box-shadow: 0 0.2rem 1.4rem 0.2rem rgba(0, 0, 0, 0.102);
}

.boardButton {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.boardHeaderBottom {
	display: flex;
	margin-top: 2rem;
	justify-content: space-between;
}

.writer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	font-size: 1.3rem;
	font-weight: 600;
	border-radius: 2rem;
	padding: 0 2rem;
	box-shadow: 0 0.2rem 1.4rem 0.2rem rgba(0, 0, 0, 0.102);
	background-color: white;
}

.writerImage {
	object-fit: cover;
	border-radius: 50%;
	border: 0.1rem solid black;
}

.postWriteDate {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	font-weight: 400;
}

hr {
	margin: 2rem 0;
	width: 100%;
}

.boardLine {
	margin-top: 3rem;
	border: 0.05px solid aliceblue;
}

.boardBodyContainer {
	margin-top: 2rem;
	border-radius: 2rem;
	background-color: white;
	padding: 2rem;
	box-shadow: 0 0.2rem 1.4rem 0.2rem rgba(0, 0, 0, 0.102);
}

.boardImage {
	width: 100%;
	background-color: lightgrey;
	border-radius: 1rem;
}

.boardContent {
	margin-top: 2rem;
	font-size: 1.5rem;
	font-weight: 500;
}

.boardAction {
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
}

.readCount,
.commentCount {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	border-radius: 1rem;
}

.boardBottom {
	display: flex;
	justify-content: space-between;
}

.commentContainer {
	padding: 2rem;
	background-color: white;
	width: 100%;
	box-sizing: border-box;
	height: fit-content;
	border-radius: 2rem;
}

.writeComment {
	box-shadow: 0 0.2rem 1.4rem 0.2rem rgba(0, 0, 0, 0.102);
	background-color: white;
	width: 100%;
	height: fit-content;
	border-radius: 2rem;
	display: flex;
	align-items: center;
}

#commentInput {
	width: 100%;
	padding: 2rem;
	border: 0;
	box-sizing: border-box;
	resize: none;
	border-radius: 2rem;
	font-size: 1.3rem;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
}

#commentInput:focus {
	outline: none;
}

.line {
	width: 90%;
	height: 0.1rem;
	background-color: lightgrey;
	margin: 1rem 1rem;
	box-sizing: border-box;
}

.writeButton,
.updateButton {
	background-color: var(--button-disabled);
	border: 0;
	cursor: pointer;
	margin-right: 2rem;
	width: 8rem;
	font-weight: 600;
	padding: 1rem;
	border-radius: 2rem;
}

.updateButton {
	display: none;
}

.commentList {
	margin-top: 3rem;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	gap: 3rem;
	align-items: center;
	flex-direction: column;
}

.commentWriterImage {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	object-fit: cover;
	border: 0.1rem solid black;
}

.comment {
	border-radius: 2rem;
	box-sizing: border-box;
	border: 2px dotted rgb(202, 229, 252);
	padding: 2rem;
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 1rem;
}

.commentHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.commentWriter {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	font-size: 1.5rem;
	font-weight: 500;
}

.commentBody {
	margin-left: 5rem;
	font-size: 1.3rem;
	font-weight: 500;
	height: fit-content;
}

#updateCommentBody {
	font-size: 1.3rem;
	font-weight: 500;
	box-sizing: border-box;
	padding: 1rem;
	width: 100%;
	resize: none;
	border-radius: 1rem;
}

.updateCommentButtonContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}

.commentUpdateConfirm {
	cursor: pointer;
	margin-top: 1rem;
	border-radius: 1rem;
	border: 0.1rem solid black;
	background-color: black;
	color: white;
	font-weight: 600;
	padding: 0.3rem 1rem;
}

.commentUpdateCancel {
	cursor: pointer;
	margin-top: 1rem;
	border-radius: 1rem;
	border: 0.1rem solid black;
	background-color: white;
	color: black;
	font-weight: 600;
	padding: 0.3rem 1rem;
}

.commentButton {
	display: flex;
	gap: 1rem;
}

.commentUpdate,
.commentDelete {
	background-color: rgb(234, 243, 255);
	border: 0;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 0.1rem 1rem;
	cursor: pointer;
	height: 3rem;
	box-sizing: border-box;
}

.commentUpdate:hover,
.commentDelete:hover {
	background-color: rgb(223, 246, 255);
	box-shadow: 0 0.2rem 1.4rem 0.2rem rgba(0, 0, 0, 0.102);
}
