.main {
	margin: 13rem auto 5rem;
	max-width: 70rem;
	width: 100%;
	height: fit-content;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.topContainer,
.bottomContainer {
	width: 100%;
	max-width: 35rem;
}

.bottomContainer {
	width: 100%;
	margin-top: 2rem;
	display: flex;
	gap: 2rem;
	flex-direction: column;
}

.logInLogo {
	width: 20rem;
}

.mainTitle {
	display: flex;
	gap: 2rem;
	flex-direction: column;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 700;
}

.profileUpdateImage {
	border-radius: 50%;
	margin: 0 auto;
	background-color: lightgray;
	border: 0.1rem solid black;
	width: 15rem;
	height: 15rem;
}

input {
	border: 0;
	background-color: #f4f5f7;
	font-size: 1.4rem;
	font-weight: 400;
	width: 100%;
	line-height: 2rem;
	border-radius: 1rem;
	box-sizing: border-box;
	padding: 1rem;
	margin-top: 1rem;
}

input:focus,
textarea:focus {
	outline: none;
}

#imageInput {
	display: none;
}

.inputTitle {
	margin: 1rem 0;
	font-weight: 600;
	font-size: 1.5rem;
}

.imageShow {
	display: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.imageContainer {
	position: relative;
	width: 15rem;
	height: 15rem;
	margin: 0 auto;
}

.imageUpdate {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.imageUpdateButton {
	cursor: pointer;
	border-radius: 30%;
	border: 1px solid white;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	font-weight: 700;
}

.signUpContainer {
	margin: 3rem 0 0;
	padding: 3rem;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 2rem;
	background-color: white;
	width: 100%;
	box-shadow: 0 0.2rem 1.4rem 0.2rem rgba(0, 0, 0, 0.102);
}

.signUpButton {
	margin: 2rem auto 0;
	max-width: 30rem;
	width: 100%;
	height: 4rem;
	background-color: var(--button-disabled);
	border: 0;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	font-weight: 600;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.goLoginButton {
	margin-top: 2rem;
	font-size: 1.3rem;
	font-weight: 400;
	color: black;
	text-decoration: none;
}

.topContainer {
	width: 100%;
}
